body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(175, 175, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:112px;
  background:inherit;
  background-color:rgba(55, 59, 62, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:720px;
  height:112px;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:80px;
  width:121px;
  height:49px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:80px;
  width:48px;
  height:48px;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u3057 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:80px;
  width:48px;
  height:48px;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:1280px;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
  background:inherit;
  background-color:rgba(230, 222, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:276px;
  width:69px;
  height:52px;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#6C543C;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:290px;
  width:91px;
  height:36px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#6C543C;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(227, 218, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:440px;
  width:86px;
  height:35px;
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:416px;
  width:61px;
  height:24px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u3069 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:446px;
  width:90px;
  height:24px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u3071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(227, 218, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3071 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:440px;
  width:86px;
  height:35px;
}
#u3072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u3073 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:416px;
  width:61px;
  height:24px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u3074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u3075 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:446px;
  width:90px;
  height:24px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u3076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
