body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(175, 175, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:112px;
  background:inherit;
  background-color:rgba(55, 59, 62, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:720px;
  height:112px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:80px;
  width:161px;
  height:49px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:80px;
  width:48px;
  height:48px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:80px;
  width:48px;
  height:48px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1120px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:1120px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:552px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 64, 129, 1);
  border:none;
  border-radius:56px;
  -moz-box-shadow:0px 12px 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 12px 12px rgba(0, 0, 0, 0.2);
  box-shadow:0px 12px 12px rgba(0, 0, 0, 0.2);
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:1018px;
  width:112px;
  height:112px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:1050px;
  width:48px;
  height:48px;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:144px;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:195px;
  width:85px;
  height:33px;
  font-size:28px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 64, 129, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:238px;
  width:80px;
  height:48px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF4081;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:246px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FF4081;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:195px;
  width:177px;
  height:33px;
  font-size:28px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u2448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:238px;
  width:421px;
  height:33px;
  font-size:28px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:208px;
  width:48px;
  height:48px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:304px;
  width:720px;
  height:144px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:339px;
  width:85px;
  height:33px;
  font-size:28px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:339px;
  width:177px;
  height:33px;
  font-size:28px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u2458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:382px;
  width:421px;
  height:33px;
  font-size:28px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:352px;
  width:48px;
  height:48px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1184px;
  width:180px;
  height:96px;
  font-size:24px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u2464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1184px;
  width:180px;
  height:96px;
  font-size:24px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u2466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1184px;
  width:180px;
  height:96px;
  font-size:24px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u2468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:1184px;
  width:180px;
  height:96px;
  font-size:24px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
