body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1066px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1066px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:525px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:802px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:802px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:393px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:255px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:802px;
  width:363px;
  height:255px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:255px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:802px;
  width:365px;
  height:255px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(46, 217, 211, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:711px;
  width:120px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(144, 222, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:963px;
  width:120px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
  background:inherit;
  background-color:rgba(144, 222, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:965px;
  width:120px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:838px;
  width:36px;
  height:36px;
  font-size:24px;
  color:#FFFFFF;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
