body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1855px;
  background:inherit;
  background-color:rgba(175, 175, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1855px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:920px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:112px;
  background:inherit;
  background-color:rgba(55, 59, 62, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:720px;
  height:112px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:80px;
  width:125px;
  height:49px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:80px;
  width:48px;
  height:48px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:80px;
  width:48px;
  height:48px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:484px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:484px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:234px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:85px;
  background:inherit;
  background-color:rgba(67, 121, 16, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:618px;
  width:720px;
  height:85px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1152px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:703px;
  width:720px;
  height:1152px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:568px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:547px;
  width:175px;
  height:72px;
  font-size:24px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:171px;
  word-wrap:break-word;
}
#u1693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:72px;
  background:inherit;
  background-color:rgba(230, 222, 185, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  font-size:28px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:632px;
  width:177px;
  height:72px;
  font-size:28px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:72px;
  background:inherit;
  background-color:rgba(230, 222, 185, 1);
  border:none;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  -webkit-box-shadow:0px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.647058823529412);
  font-size:28px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:632px;
  width:177px;
  height:72px;
  font-size:28px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:35px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:652px;
  width:113px;
  height:33px;
  font-size:28px;
  text-align:center;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:170px;
  width:144px;
  height:72px;
  font-size:24px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:192px;
  width:37px;
  height:28px;
  font-size:24px;
  text-align:center;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:182px;
  width:48px;
  height:48px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:836px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:618px;
  width:682px;
  height:836px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:216px;
  background:inherit;
  background-color:rgba(242, 233, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:1454px;
  width:682px;
  height:216px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:1486px;
  width:141px;
  height:33px;
  font-size:28px;
  text-align:center;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:1555px;
  width:617px;
  height:72px;
  font-size:28px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:613px;
  word-wrap:break-word;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:1485px;
  width:272px;
  height:35px;
}
#u1713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
}
#u1713_input:disabled {
  color:grayText;
}
