body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(175, 175, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:112px;
  background:inherit;
  background-color:rgba(55, 59, 62, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:720px;
  height:112px;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:80px;
  width:121px;
  height:49px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:80px;
  width:48px;
  height:48px;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:80px;
  width:48px;
  height:48px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:1280px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
  background:inherit;
  background-color:rgba(230, 222, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:276px;
  width:69px;
  height:52px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#6C543C;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:289px;
  width:31px;
  height:37px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#6C543C;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(227, 218, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:440px;
  width:86px;
  height:35px;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:416px;
  width:61px;
  height:25px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:446px;
  width:96px;
  height:25px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
  background:inherit;
  background-color:rgba(227, 218, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:440px;
  width:86px;
  height:35px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:416px;
  width:61px;
  height:25px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:446px;
  width:96px;
  height:25px;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#6C543C;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
