body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1446px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:715px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:112px;
  background:inherit;
  background-color:rgba(55, 59, 62, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:720px;
  height:112px;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:80px;
  width:161px;
  height:49px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:80px;
  width:48px;
  height:48px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:80px;
  width:48px;
  height:48px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1350px;
  width:180px;
  height:96px;
  font-size:24px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u2286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1350px;
  width:180px;
  height:96px;
  font-size:24px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u2288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1350px;
  width:180px;
  height:96px;
  font-size:24px;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u2290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:1350px;
  width:180px;
  height:96px;
  font-size:24px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:176px;
  word-wrap:break-word;
}
#u2292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:720px;
  height:144px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:112px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:248px;
  width:112px;
  height:112px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:280px;
  width:48px;
  height:48px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:288px;
  width:341px;
  height:33px;
  font-size:28px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u2300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:72px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:180px;
  width:197px;
  height:33px;
  font-size:28px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u2304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:376px;
  width:720px;
  height:144px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:112px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:392px;
  width:112px;
  height:112px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:424px;
  width:48px;
  height:48px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:432px;
  width:342px;
  height:33px;
  font-size:28px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u2312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:720px;
  height:144px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:112px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:536px;
  width:112px;
  height:112px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:568px;
  width:48px;
  height:48px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:576px;
  width:85px;
  height:33px;
  font-size:28px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:664px;
  width:720px;
  height:144px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:112px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:680px;
  width:112px;
  height:112px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:712px;
  width:48px;
  height:48px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:720px;
  width:85px;
  height:33px;
  font-size:28px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:808px;
  width:720px;
  height:112px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:845px;
  width:48px;
  height:48px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:852px;
  width:129px;
  height:33px;
  font-size:28px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2332_ann {
  border-width:0px;
  position:absolute;
  left:231px;
  top:848px;
  width:1px;
  height:1px;
}
#u2334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:854px;
  width:121px;
  height:28px;
  font-size:24px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:844px;
  width:91px;
  height:41px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:920px;
  width:720px;
  height:112px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:940px;
  width:177px;
  height:72px;
  font-size:28px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u2342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:960px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:953px;
  width:48px;
  height:48px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:280px;
  width:48px;
  height:48px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:425px;
  width:48px;
  height:48px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:568px;
  width:48px;
  height:48px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:712px;
  width:48px;
  height:48px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1048px;
  width:720px;
  height:72px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1068px;
  width:197px;
  height:33px;
  font-size:28px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u2358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1120px;
  width:720px;
  height:144px;
  font-size:28px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:716px;
  word-wrap:break-word;
}
