body {
  margin:0px;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2185px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 233, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:837px;
  width:644px;
  height:170px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:980px;
  width:273px;
  height:72px;
  font-size:28px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:269px;
  word-wrap:break-word;
}
#u1823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:980px;
  width:267px;
  height:72px;
  font-size:28px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:263px;
  word-wrap:break-word;
}
#u1825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:854px;
  width:684px;
  height:96px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:886px;
  width:141px;
  height:34px;
  font-size:28px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:878px;
  width:48px;
  height:48px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:854px;
  width:684px;
  height:96px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:886px;
  width:253px;
  height:34px;
  font-size:28px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:878px;
  width:48px;
  height:48px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:1501px;
  top:854px;
  width:684px;
  height:96px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:1930px;
  top:886px;
  width:157px;
  height:34px;
  font-size:28px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:2091px;
  top:878px;
  width:48px;
  height:48px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
